* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  margin: 0;
}

.content {
  width: 95%;
  margin: 0 auto;
  padding: 48px 30px;
}

.stays-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 599px) {
  .header-container {
    flex-direction: column;
  }

  .stays-text {
    font-size: 0.65rem;
    padding: 20px 12px 0;
    margin-bottom: 0;
  }
  .content {
    padding: 48px 0;
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .content {
    padding: 48px 5px;
  }
}
